$ten-years-bg: #E4EBEE;
$ten-years-main: #F05133;
$ten-years-blue: #184066;

$ten-years-text: #231F20;

$item-small-diameter: 100px;
$item-large-diameter: 262px;
$item-tiny-diameter: 54px;
$item-huge-diameter: 306px;

$ten-years-mobile-breakpoint: 700px;
@mixin ten-years-desktop(){
	@media only screen and (min-width: $tablet + 1) and (max-width: ($desktop)) {
		@content;
	}
}

@mixin ten-years-tablet(){
	@media only screen and (min-width: $ten-years-mobile-breakpoint) and (max-width: ($tablet + 1)) {
		@content;
	}
}

@mixin ten-years-mobile(){
	@media only screen and (max-width: $ten-years-mobile-breakpoint) {
		@content;
	}
}

%tiny-center {
	left: 50%;
	margin-left: -$item-tiny-diameter/2;
}
%small-center {
	left: 50%;
	margin-left: -$item-small-diameter/2;
}
%large-center {
	left: 50%;
	margin-left: -$item-large-diameter/2; 
}

.ten-years-index {
	background: $ten-years-bg;
	._header {
		position: relative;
		background: $ten-years-main;
		._header-content {
			position: absolute;
			text-align: center;
			bottom: 0;
			z-index: 6;
			width: 100%;
			padding-bottom: 2%;
			max-height: 100vh;
		}
		
		h1 {
			// exists for SEO purposes only
			height: 0;
			margin: 0;
			text-indent: -999em;			
		}

		.icon-logo-atlassian-footer {
			height: 1.5em;
			width: 10%;
			min-width: 40px;
		}

		.social a,
		.icon-logo-atlassian-footer {
			text-indent: -999em;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center bottom;
			display: inline-block;
			position: relative;
			overflow: hidden;
			opacity: 1;
			transition: opacity 0.1s ease-in-out;
			&:hover,
			&:active,
			&:focus {
				opacity: 0.85;
			}						
		}

		.social {
			margin-top: 5px;
			a {
			    width: 25px;
			    height: 25px;
			    margin: 0 5px;
			}

		}



		._hero {
			margin: 0 auto;
			z-index: 5;
			svg {
				margin: 0 -20%;
			}
		}

		@include cinema-up(){
			._hero, 
			._header-content {
				max-width: 1600px;
			}
			._header-content {
				padding-bottom: 32px;
				left: 50%;
				margin-left: -800px;
			}
			._hero svg {
				margin: 0 auto;
			}
		}

		@media only screen and (min-width: 1100px) and (max-width: ($cinema)) {
			// here, the image stays the same size but needs to overflow and stay centered
			// so we switch to absolute layout
			._hero {
				height: 904px; // height of the svg at 1600 wide
				svg {
					width: 1600px;
					position: absolute;
					left: 50%;
					margin: 0 0 0 -800px;
				}
			}
		}

		@media only screen and (max-width: 600px) {
			._hero svg {
				margin: 0 -35%;
			}
		}

		@include mobile(){
			.icon-logo-atlassian-footer {
				width: 80px;
				margin: 0 10px 2px 0;
			}
			.social {
				display: inline-block;
			}
		}

	}

	svg {
		text, tspan {
			// firefox was not picking up the font rule in the svg
			&[font-family="'Circular-Black'"] {
				@extend %circular-black;
			}
			&[font-family="'Circular-Book'"] {
				@extend %circular;
			}
			&[font-family="'Circular-Bold'"] {
				@extend %circular-bold;
			}
		}
	}

	.container {
		background-image: url("../images/ten-years/timeline-large-new.svg");
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 1006px auto;
		z-index: 1;
		.container-inner {
			max-width: 703px;
			margin: 0 auto;	
			padding: 80px 20px;		
			position: relative;
			min-height: 9300px;
		}
		.intro {
			color: $ten-years-blue;
			font-size: 20px;
			@extend %circular;
			font-weight: 200;
			line-height: 1.35;
			@include mobile(){
				font-size: 18px;
			}
		}

		.sources {
			@extend %clearfix;
			margin: 0 auto;
			padding: 50px 20px 40px;
			max-width: 1000px;
			position: relative;
			z-index: 2;
			.source-links {
				@extend %clearfix;
				background: $ten-years-bg;
				overflow: hidden;
				display: none;
				transition: height 0.2s ease-in-out;
			}

			h4 {
				text-align: center;
				@extend %circular-black;
				color: $ten-years-blue;
				padding-top: 5px;
				font-size: 18px;
				position: relative;
				cursor: pointer;
				&:after {
					content: "";
					height: 0;
					width: 0;
					border-left: 12px solid transparent;
					border-right: 12px solid transparent;
					border-top: 12px solid $ten-years-blue;
					display: block;
					margin: 10px auto 0;
					transition: transform 0.3s ease-in-out;
				}
			}

			&.sources-open h4:after {
				transform: rotate(180deg);
			}

			.col-1 {
				width: 50%;
				float: left;
				&:first-child {
					padding: 20px 40px 0 0;
				}
				&:last-child {
					padding: 20px 0 0 40px;
				}
			}
			ul {
				padding: 0;
				margin: 0;
			}
			li {
				list-style: none;
				padding-bottom: 10px;
			}
			a {
				@extend %circular;
				font-size: 12px;
				color: $ten-years-blue;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				display: block;
			}
		}

		@include ten-years-desktop(){
			background-image: url("../images/ten-years/timeline-medium.svg") !important;
			background-size: 893.2px auto !important;
		}

		@include ten-years-tablet(){
			background-image: url("../images/ten-years/timeline-small.svg") !important;			
			background-size: 722.8px auto !important;
		}

		@include ten-years-mobile(){
			background-image: none !important;
			.container-inner {
				padding-top: 20px;
				min-height: initial !important;
			}
			.timeline {
				min-height: 6660px;
				margin-top: 100px;
				position: relative;
				background-image: url("../images/ten-years/timeline-mobile.svg") !important;
				background-position: center top;		
				background-size: 257.7px auto !important;				
				background-repeat: no-repeat;				
			}
			.sources {
				.col-1 {
					width: 100%;
					float: none;
					padding: 0 10px !important;
				}
			}

		}

	}

}

.ios7 .ten-years-index {
	._header ._hero svg {
		margin: 0;
		width: 150%;
		left: -25%;
		height: 300px;
		position: relative;
		@include tablet-only(){
			height: 500px;
		}
	}
	// because the chart timeline items have svgs, they're heights are getting miscalculated in ios7
	// so set them manually

	.container {

		@include ten-years-desktop(){
			background-image: url("../images/ten-years/timeline-medium.png") !important;
			background-position: center 84px;
		}
		
		@include ten-years-tablet(){
			background-image: url("../images/ten-years/timeline-small.png") !important;
		}


		.timeline .item.graph {
			height: 400px;
			@include ten-years-mobile(){
				svg {
					max-height: 1000px; // this fixes ios7 svgs for some reason
				}								
			}
			&.git-searches {
				height: 400px;
			}
			&.git-meetups {
				height: 400px;
			}
			&.git-usage {
				height: 350px;
			}
		}
	}

	// .container {
	// 	@include ten-years-desktop(){
	// 		background-image: url("../images/ten-years/timeline-medium.png") !important;			
	// 	}
	// 	@include ten-years-tablet(){
	// 		background-image: url("../images/ten-years/timeline-small.png") !important;			
	// 	}
	// 	@include ten-years-mobile(){
	// 		background-image: url("../images/ten-years/timeline-mobile.png") !important;
	// 	}
	// }
}


.line-to-draw.animate {
    transition: stroke-dashoffset 15s $curve-standard 0.2s;
}

@import "ten-years-timeline";