.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $topbar-height;
  bottom: 0;
  background-color: $white;
  transition: all 0.25s $curve-standard;
  z-index: 1000;

  &.is-search {
    display: none;
  }

  &.is-tutorial {
    padding-left: 250px;

    @include mobile {
      padding-left: 0;
    }
  }

  @include mobile {
    height: $topbar-height-small;
    box-shadow: 0px 1px 2px rgba($gray-dark, 0.1);
  }

  .scrolled & {
    height: $topbar-height-small;
    box-shadow: 0px 1px 2px rgba($gray-dark, 0.1);
  }

  ._header {
    @extend %circular-bold;
    height: 100%;
    margin: 0;
    padding-top: 22px;
    transition: all 0.25s $curve-standard;
    color: $gray-dark;
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    text-transform: capitalize;

    &.-home,
    &.-home a,
    &.-ten-years,
    &.-ten-years a {
      color: $gray-dark;
    }

    &.-tutorials,
    &.-tutorials a {
      color: $blue;
    }

    &.-articles,
    &.-articles a {
      color: $green;
    }

    &.-glossary,
    &.-glossary a {
      color: $yellow;
    }

    &.-search {
      display: none;
    }

    @include mobile {
      font-size: 25px;
    }

    .scrolled & {
      padding-top: 15px;
      font-size: 35px;

      @include mobile {
        padding-top: 22px;
        font-size: 25px;
      }
    }
  }
}