.tutorials-index {
  ._header {
    background: $lighterblue;
    height: 400px;
    overflow: hidden;
    position: relative;

    @include mobile {
      height: 200px;
    }

    h1 {
      position: relative;
      top: 200px;
      transform: translateY(-50%);
      z-index: 10;
      color: $white;
      letter-spacing: -2.5px;
      line-height: (84 / 96);
      text-align: center;

      @include mobile {
        font-size: 48px;
        top: 100px;
      }
    }

    ._hero {
      position: absolute;
      top: 0;
      z-index: 5;
      width: 100%;

      svg, img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @include mobile {
          height: 100%;
        }
      }
    }
  }

  .container {
    padding: 80px 0 300px 0;

    @include tablet {
      padding: 40px 0 150px 0;
    }
  }

  ._group {
    background-repeat: no-repeat;
    padding-top: 85px;
    text-align: center;

    @include tablet {
      margin-bottom:  $gutter;
    }

    &.-getting-started {
      background-position: center 0;
      background-size: 100px 80px;
    }

    &.-collaborating {
      background-position: center 0;
      background-size: 95px 80px;
    }

    &.-migrating {
      background-position: center 0;
      background-size: 90px 80px;
    }

    &.-advanced {
      background-position: center 0;
      background-size: 101px 65px;
    }

    ._heading {
      margin: 0 0 $gutter-half 0;
    }

    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      border-bottom: 1px solid $gray-rules;
      padding: 13px 0 11px 0;
      line-height: (24 / 16);

      &:last-child {
        border-bottom: none;
      }

      a {
        display: block;
      }
    }
  }
}