// Webfont imports

/**
 * @license
 * MyFonts Webfont Build ID 2873477, 2014-08-28T13:20:10-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Nimbus Sans Mono M Regular by URW++
 * URL: http://www.myfonts.com/fonts/urw/nimbus-sans-mono/m-regular/
 * Copyright: Copyright 2010 URW++ Design &amp; Development Hamburg
 *
 * Webfont: Sanchez Slab SemiBold Italic by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/semi-bold-italic/
 * Copyright: Copyright (c) 2013 by Daniel Hernandez. All rights reserved.
 * 
 * Webfont: Sanchez Slab Italic by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/italic/
 * Copyright: Copyright (c) 2013 by Daniel Hernandez. All rights reserved.
 * 
 * Webfont: Sanchez Slab Light Italic by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/light-italic/
 * Copyright: Copyright (c) 2013 by Daniel Hernandez. All rights reserved.
 * 
 * Webfont: Sanchez Slab by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/regular/
 * Copyright: Copyright (c) 2013 by Daniel Hernandez. All rights reserved.
 * 
 * Webfont: Sanchez Slab Light by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/light/
 * Copyright: Copyright (c) 2013 by Daniel Hernandez. All rights reserved.
 * 
 * Webfont: Sanchez Slab SemiBold by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/semi-bold/
 * Copyright: Copyright (c) 2013 by Daniel Hernandez. All rights reserved.
 * 
 * Webfont: Sanchez Slab ExtraLight by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/extra-light/
 * Copyright: Copyright (c) 2013 by Daniel Hernandez. All rights reserved.
 * 
 * Webfont: Sanchez Slab ExtraLight Italic by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/extra-light-italic/
 * Copyright: Copyright (c) 2013 by Daniel Hernandez. All rights reserved.
 * 
 * Webfont: Sanchez Slab Bold by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/bold/
 * Copyright: Copyright (c) 2013 by Daniel hern&#x00C3;&#x00A1;ndez. All rights reserved.
 * 
 * Webfont: Sanchez Slab Bold Italic by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/bold-italic/
 * Copyright: Copyright (c) 2013 by Daniel Hernandez. All rights reserved.
 * 
 * Webfont: Sanchez Slab Black by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/black/
 * Copyright: Copyright (c) 2013 by Daniel hern&#x00C3;&#x00A1;ndez. All rights reserved.
 * 
 * Webfont: Sanchez Slab Black Italic by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez-slab/black-italic/
 * Copyright: Copyright (c) 2013 by Daniel Hernandez. All rights reserved.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2873477
 * Licensed pageviews: 700,000
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
// @import url("//hello.myfonts.net/count/2bd885");

@font-face {
  font-family: 'Nimbus';
  src: url('../fonts/nimbus/2BD885_0_0.eot');
  src: url('../fonts/nimbus/2BD885_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nimbus/2BD885_0_0.woff') format('woff'),
    url('../fonts/nimbus/2BD885_0_0.ttf') format('truetype');
  }
 
@font-face {
  font-family: 'SanchezSlab Semibold';
  src: url('../fonts/sanchez/2BEF22_5_0.eot');
  src: url('../fonts/sanchez/2BEF22_5_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sanchez/2BEF22_5_0.woff') format('woff'),
    url('../fonts/sanchez/2BEF22_5_0.ttf') format('truetype');
  }
 
@font-face {
  font-family: 'SanchezSlab Bold';
  src: url('../fonts/sanchez/2BEF22_8_0.eot');
  src: url('../fonts/sanchez/2BEF22_8_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sanchez/2BEF22_8_0.woff') format('woff'),
    url('../fonts/sanchez/2BEF22_8_0.ttf') format('truetype');
  }
 
@font-face {
  font-family: 'SanchezSlab Light';
  src: url('../fonts/sanchez/2BEF22_4_0.eot');
  src: url('../fonts/sanchez/2BEF22_4_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sanchez/2BEF22_4_0.woff') format('woff'),
    url('../fonts/sanchez/2BEF22_4_0.ttf') format('truetype');
  }

@font-face {
  font-family: 'SanchezSlab';
  src: url('../fonts/sanchez/2BEF22_3_0.eot');
  src: url('../fonts/sanchez/2BEF22_3_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sanchez/2BEF22_3_0.woff') format('woff'),
    url('../fonts/sanchez/2BEF22_3_0.ttf') format('truetype');
  }

@font-face {
  font-family: 'Circular';
  src: url('../fonts/circular/CircularPro-Book.eot');
  src: url('../fonts/circular/CircularPro-Book.woff') format('woff');
}

@font-face {
  font-family: 'Circular Medium';
  src: url('../fonts/circular/CircularPro-Medium.eot');
  src: url('../fonts/circular/CircularPro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Circular Bold';
  src: url('../fonts/circular/CircularPro-Bold.eot');
  src: url('../fonts/circular/CircularPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Circular Black';
  src: url('../fonts/circular/CircularPro-Black.eot');
  src: url('../fonts/circular/CircularPro-Black.woff') format('woff');
}

%circular {
  font-family: 'Circular', Helvetica, sans-serif;
  font-weight: 400;
}

%circular-medium {
  font-family: 'Circular Medium', Helvetica, sans-serif;
  font-weight: 400;
}

%circular-bold {
  font-family: 'Circular Bold', Helvetica, sans-serif;
  font-weight: 400;
}

%circular-black {
  font-family: 'Circular Black', Helvetica, sans-serif;
  font-weight: 400;
}

%helvetica {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

%nimbus {
  font-family: 'Nimbus', Monaco, monospace;
  font-weight: 400;
}

%sanchez {
  font-family: 'SanchezSlab', Georgia, serif;
  font-weight: 400;
}

%sanchez-light {
  font-family: 'SanchezSlab Light', Georgia, serif;
  font-weight: 400;
}

%sanchez-bold {
  font-family: 'SanchezSlab Bold', Georgia, serif;
  font-weight: 400;
}

%sanchez-semibold {
  font-family: 'SanchezSlab Semibold', Georgia, serif;
  font-weight: 400;
}


// General typography

a {
  transition: color 0.125s ease-in-out;
  color: $gray-light;
  text-decoration: none;

  @include hover {
    color: $gray;
  }
}

h1, %h1 {
  @extend %sanchez-semibold;
  margin: 0 0 16px 0;
  font-size: 96px;
  line-height: 1;
  letter-spacing: -2px;
  code {
    font-size: 95px;
  }
}

h2, %h2 {
  @extend %sanchez-semibold;
  margin: 0 0 23px 0;
  font-size: 63px;
  line-height: (72 / 63);
  letter-spacing: -1.5px;
  code {
    font-size: 62px;
  }
}

h3, %h3 {
  @extend %sanchez-semibold;
  margin: 0;
  font-size: 55px;
  line-height: (63 / 55);
  letter-spacing: -1.5px;
  code {
    font-size: 54px;
  }
}

h4, %h4 {
  @extend %sanchez-semibold;
  margin: 0 0 26px 0;
  font-size: 42px;
  line-height: (48 / 42);
  letter-spacing: -0.5px;
  code {
    font-size: 41px;
  }
}

h5, %h5 {
  @extend %sanchez-semibold;
  margin: 0 0 4px 0;
  font-size: 24px;
  line-height: (32 / 24);
  letter-spacing: -0.2px;
  code {
    font-size: 23px;
  }
}

h6, %h6 {
  @extend %helvetica;
  margin: 0 0 4px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: (28 / 18);
  code {
    font-size: 17px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $gray-dark;
  text-rendering: optimizeLegibility;

  code {
    @extend %nimbus;
    padding: 0;
    text-indent: 0;
  }
}

h6 {
  code {
    @extend %helvetica;
  }
}

p {
  margin: 0 0 29px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: (28 / 18);

  @include mobile {
    font-size: 14px;
  }
}

li p {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

code,
p code,
li code {
  @extend %nimbus;
  display: inline-block;
  padding: 0 2px 0 5px;
  color: $gray-dark;
  letter-spacing: -1px;
  text-indent: -3px;
  text-rendering: optimizeLegibility;
  word-spacing: -1px;
  font-size: 17px;
  white-space: nowrap;

  a & {
    color: $gray-light;
  }

  @include mobile {
    font-size: 14px;
  }
}

pre code {
  @extend %nimbus;
  display: block;
  margin: 0;
  padding: 10px 10px 9px 12px;
  color: $gray-subrules;
  font-size: 15px;
  line-height: (21 / 18);
  letter-spacing: 0;
  word-spacing: 0;
  white-space: pre;
  text-indent: 0;

  @include mobile {
    font-size: 14px;
  }
}

pre {
  overflow: auto;
  margin: 0 0 29px 0;
  border: 1px solid $gray-boxes;
  border-radius: 2px;
  white-space: pre;
}
  