// Hoverable class mixin. Only allow hover when the .hoverable class is on body.
@mixin hover() {
  .hoverable &:hover {
    @content;
  }
}

// Clearfix
%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
  }
}

// Text -> image replacement
%hidetext {
  display: block;
  overflow: hidden;
  text-indent: -1000%;
  white-space: nowrap;
}

// Placeholder text for form inputs
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

// Media query mixins
@mixin cinema-up() {
  @media only screen and (min-width: $cinema) {
    @content;
  }
}

@mixin desktop() {
  @media only screen and (max-width: ($desktop)) {
    @content;
  }
}

@mixin desktop-only() {
  @media only screen and (min-width: $desktop) and (max-width: ($cinema)) {
    @content;
  }
}

@mixin desktop-up() {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet() {
  @media only screen and (max-width: ($tablet)) {
    @content;
  }
}

@mixin tablet-only() {
  @media only screen and (min-width: $mobile) and (max-width: ($tablet)) {
    @content;
  }
}

@mixin tablet-up() {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin mobile-only() {
  @media only screen and (min-width: $mobile-small) and (max-width: ($mobile)) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-narrow() {
  @media only screen and (max-width: $mobile-small) {
    @content;
  }
}

@mixin short() {
  @media only screen and (max-height: 500px) {
    @content;
  }
}

// retina sprite
@mixin retina-sprite($sprite){
  display: block;
  width: nth($sprite, 5)/2;
  height: nth($sprite, 6)/2;
  background-size: nth($sprite, 7)/2 auto;
  $sprite-offset-x: nth($sprite, 3)/2;
  $sprite-offset-y: nth($sprite, 4)/2;
  background-position: $sprite-offset-x  $sprite-offset-y;
  @include sprite-image($sprite);
}

// Alignments. Use only when necessary.
// Anything that repeats often should be added to a selector's rule.

// Vertical alignments
.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

// Text alignments
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

// SVG animations. Name your lines group as Lines in order to properly animate all your paths.
// .csstransitions {
//   svg #Lines {
//     stroke-dasharray: 200%;
//     stroke-dashoffset: -200%;
//     transition: stroke-dashoffset 1.5s $curve-standard;
//   }

//   .is-active svg #Lines {
//     stroke-dashoffset: 0;
//   }
// }

.line-to-draw, #Lines path {
  transition: none;
  &.animate {
    /* 
      whoa, isn't 15s too long? - not really when using curve-standard, which does 90% of the transition in the first 25% of time, 
      so it feels like it's done way faster. if you change to a more linear curve, it will feel slower
    */
    transition: stroke-dashoffset 5s $curve-standard;
  }
}

#Lines path {
  stroke-dasharray: 200% !important;
}

.no-csstransitions {
  svg #Lines {
    stroke-dashoffset: 0 !important;
  }
}
